.accordion {
  width: 30rem;
  border: none !important;
}
@media (max-width: 576px) {
  .accordion {
    min-width: none !important;
    max-width: 100%;
  }
}

.accordion-header {
  position: relative;
}

.bookmark-icon {
  color: #265bf6 !important;
  font-size: 2em;
  position: absolute;
  top: 0;
  right: 20%;
}

.bookmark-icon-hidden {
  display: none;
}

.accordion-button {
  outline: none !important;
  box-shadow: none !important;
  background: none !important;
  font-weight: 500;
}

.accordion-item {
  border: var(--accordion-border-thickness) solid var(--accordion-border-color) !important;
  border-bottom: none !important;
  background-color: var(--accordion-item-background-color) !important;
}
.accordion-item:is(:last-child) {
  border-bottom: var(--accordion-border-thickness) solid var(--accordion-border-color) !important;
}

.accordion-body {
  color: var(--accordion-body-color);
}

.accordion-button {
  box-shadow: none !important;
  background: none !important;
  transition: none !important;
  outline-color: transparent !important;
  outline: 2px solid transparent !important;
  -webkit-focus-ring-color: rgba(0, 0, 0, 0) !important;
  color: var(--accordion-header-color);
}
.accordion-button:focus, .accordion-button:active, .accordion-button:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
  transition: none !important;
  outline-color: transparent !important;
  -webkit-focus-ring-color: rgba(0, 0, 0, 0) !important;
}

.accordion-button:not(.collapsed) {
  background: none;
  color: var(--accordion-header-color);
}

.accordion-button::after {
  border-radius: 50%;
  background-image: var(--accordion-arrow-down);
  padding: 10px !important;
  height: 28px !important;
  width: 28px !important;
  color: #121212;
  border: 1px solid var(--accordion-arrow-border-color);
  background-position: center !important;
  background-size: 16px 16px !important;
  transition: transform 0.3s ease, background-color 0.3s ease, background-image 0.3s ease !important;
  transform: rotate(0deg) !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg fill='%235C84F8' width='800' height='800' viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M128 188a11.96187 11.96187 0 0 1-8.48535-3.51465l-80-80a12.0001 12.0001 0 0 1 16.9707-16.9707L128 159.0293l71.51465-71.51465a12.0001 12.0001 0 0 1 16.9707 16.9707l-80 80A11.96187 11.96187 0 0 1 128 188Z'/%3E%3C/svg%3E") !important;
  border: none;
  background-color: var(--accordion-arrow-secondary-background-color) !important;
  transform: rotate(-180deg) !important; /* Rotate arrow */
}

.accordion-button:hover::after {
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg fill='%235C84F8' width='800' height='800' viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M128 188a11.96187 11.96187 0 0 1-8.48535-3.51465l-80-80a12.0001 12.0001 0 0 1 16.9707-16.9707L128 159.0293l71.51465-71.51465a12.0001 12.0001 0 0 1 16.9707 16.9707l-80 80A11.96187 11.96187 0 0 1 128 188Z'/%3E%3C/svg%3E") !important;
  background-color: var(--accordion-arrow-secondary-background-color) !important;
  transition: background-color 0.4s ease-in, background-image 0.2s ease-in, padding 0.3s ease, height 0.3s ease, width 0.3s ease, transform 0.5s ease !important;
}/*# sourceMappingURL=ChapterAccordion.css.map */